---
import CardProject from "./CardProject.astro";
import { getCollection } from "astro:content";

interface Props {
    category?: string;
    layout?: string;
}

const { category, layout = "cluster" } = Astro.props;

const allProjects = await getCollection("projects");

const filteredProjects = category
    ? allProjects.filter((project) => project.data.category === category)
    : allProjects;

const sortedProjects = filteredProjects.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div class={layout} data-layout="thirds">
    {
        sortedProjects.map((project) => (
            <CardProject
                title={project.data.title}
                description={project.data.description}
                pubDate={project.data.pubDate}
                status={project.data.status}
                id={project.id}
                tags={project.data.tags}
            />
        ))
    }
</div>
