---
import CardProject from "./CardProject.astro";
import {
    projectCollections,
    type ProjectCollectionKey,
} from "../../data/projectCollections";
import { getCollection } from "astro:content";

interface Props {
    collection: ProjectCollectionKey; // The project collection to display
    layout?: string; // Optional CSS class for layout styling
    limit?: number; // Optional limit on number of projects to display
}

const { collection, layout, limit } = Astro.props;

const allProjects = await getCollection(collection);

const sortedProjects = allProjects.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const displayedProjects = limit
    ? sortedProjects.slice(0, limit)
    : sortedProjects;

const basePath = projectCollections[collection].path;
---

<div class={layout}>
    {
        displayedProjects.map((project) => (
            <CardProject
                title={project.data.title}
                description={project.data.description}
                pubDate={project.data.pubDate}
                status={project.data.status}
                id={project.id}
                basePath={basePath}
                tags={project.data.tags}
            />
        ))
    }
</div>
