---
import CardPost from "./CardPost.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<section class="grid">
    {
        posts.map((post) => (
            <CardPost
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
                id={post.id}
                tags={post.data.tags}
            />
        ))
    }
</section>
