---
import CardPost from "./CardPost.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});

const sortedPosts = allPosts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<section class="grid">
    {
        sortedPosts.map((post) => (
            <CardPost
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
                id={post.id}
                tags={post.data.tags}
            />
        ))
    }
</section>
