---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/CardPost.astro";

import { getCollection, getEntry, render } from "astro:content";

const page = await getEntry("pages", "posts");

if (!page) {
    throw new Error("Could not find posts page");
}

const { Content } = await render(page);
const posts = await getCollection("posts");
---

<BaseLayout title={page.data.title} description={page.data.description}>
    <h1><i class="ph ph-text-columns"></i> {page.data.title}</h1>
    <p>{page.data.description}</p>
    <hr />

    <!-- POST PAGE CONTENT -->
    <Content />

    <!-- GENERATED LIST OF POSTS -->
    <section class="grid">
        {
            posts.map((post) => (
                <Card
                    title={post.data.title}
                    description={post.data.description}
                    pubDate={post.data.pubDate}
                    id={post.id}
                    tags={post.data.tags}
                />
            ))
        }
    </section>
</BaseLayout>

<style></style>
