---
import BaseLayout from "../layouts/BaseLayout.astro";

import {
    getCollection,
    type CollectionEntry,
    getEntry,
    render,
} from "astro:content";

const page = await getEntry("pages", "posts");

if (!page) {
    // Handle Error, for example:
    throw new Error("Could not find posts page");
}

const { Content } = await render(page);
const posts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<BaseLayout title={page.data.title} description={page.data.description}>
    <h1>{page.data.title}</h1>
    <p>{page.data.description}</p>
    <Content />
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/posts/${post.id}`}>{post.data.title}</a>
                    <p>{post.data.description}</p>
                    <p>
                        posted{" "}
                        {post.data.pubDate.toLocaleDateString("en-gb", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })}
                    </p>
                </li>
            ))
        }
    </ul>
</BaseLayout>
