---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

import {
    getCollection,
    type CollectionEntry,
    getEntry,
    render,
} from "astro:content";

const page = await getEntry("pages", "posts");

if (!page) {
    // Handle Error, for example:
    throw new Error("Could not find posts page");
}

const { Content } = await render(page);
const posts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<BaseLayout title={page.data.title} description={page.data.description}>
    <h1>{page.data.title}</h1>
    <p>{page.data.description}</p>
    <Content />
    <section>
        {
            posts.map((post, index) => (
                <Card
                    title={post.data.title}
                    description={post.data.description}
                    href={`/posts/${post.id}`}
                    image={post.data.image}
                    pubDate={post.data.pubDate}
                    tags={post.data.tags}
                    featured={index === 0}
                />
            ))
        }
    </section>
</BaseLayout>
