---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection, type CollectionEntry } from "astro:content";
const posts: CollectionEntry<"posts">[] = await getCollection("posts");

const title = "Posts";
const description = "Written articles about a variety of topics.";
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}</p>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/posts/${post.id}`}>{post.data.title}</a>
                    <p>{post.data.description}</p>
                    <p>
                        posted{" "}
                        {post.data.pubDate.toLocaleDateString("en-gb", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })}
                    </p>
                </li>
            ))
        }
    </ul>
</BaseLayout>
