---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/CardProject.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<PageLayout pageID="projects">
    <!-- GENERATED LIST OF PROJECTS -->
    <section class="cluster">
        {
            projects.map((project, index) => (
                <Card
                    title={project.data.title}
                    description={project.data.description}
                    pubDate={project.data.pubDate}
                    id={project.id}
                    tags={project.data.tags}
                />
            ))
        }
    </section>
</PageLayout>
