---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/CardProject.astro";

import { getCollection, getEntry, render } from "astro:content";

const page = await getEntry("pages", "projects");

if (!page) {
    throw new Error("Could not find projects page");
}

const { Content } = await render(page);
const projects = await getCollection("projects");
---

<BaseLayout title={page.data.title} description={page.data.description}>
    <h1>{page.data.title}</h1>
    <p>{page.data.description}</p>

    <!-- PROJECT PAGE CONTENT -->
    <Content />

    <!-- GENERATED LIST OF PROJECTS -->
    <section class="cluster">
        {
            projects.map((project, index) => (
                <Card
                    title={project.data.title}
                    description={project.data.description}
                    pubDate={project.data.pubDate}
                    id={project.id}
                    tags={project.data.tags}
                />
            ))
        }
    </section>
</BaseLayout>
