---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection, type CollectionEntry } from "astro:content";
const projects: CollectionEntry<"projects">[] = await getCollection("projects");

const title = "Projects";
const description = "Collection of projects I have worked on.";
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}</p>
    <ul>
        {
            projects.map((project) => (
                <li>
                    <a href={`/projects/${project.id}`}>{project.data.title}</a>
                    <p>{project.data.description}</p>
                    <p>
                        posted{" "}
                        {project.data.pubDate.toLocaleDateString("en-gb", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })}
                    </p>
                </li>
            ))
        }
    </ul>
</BaseLayout>
