---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

import {
    getCollection,
    type CollectionEntry,
    getEntry,
    render,
} from "astro:content";

const page = await getEntry("pages", "projects");

if (!page) {
    // Handle Error, for example:
    throw new Error("Could not find projects page");
}

const { Content } = await render(page);
const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<BaseLayout title={page.data.title} description={page.data.description}>
    <h1>{page.data.title}</h1>
    <p>{page.data.description}</p>
    <Content />
    <section>
        <div class="cards-container">
            {
                projects.map((project, index) => (
                    <Card
                        title={project.data.title}
                        description={project.data.description}
                        href={`/projects/${project.id}`}
                        image={project.data.image}
                        pubDate={project.data.pubDate}
                        tags={project.data.tags}
                        featured={index === 0}
                    />
                ))
            }
        </div>
    </section>
</BaseLayout>

<style>
    section {
        margin-top: 2rem;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        align-items: start;
    }

    @media (max-width: 768px) {
        .cards-container {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }
    }
</style>
