---
import PageLayout from "../layouts/PageLayout.astro";
import GridProjects from "../components/projects/GridProjects.astro";
import {
    projectCollections,
    projectsPageConfig,
} from "../data/projectCollections";
---

<PageLayout pageID="projects">
    {
        projectsPageConfig.map(({ key, limit = 6 }) => {
            const config = projectCollections[key];
            return (
                <section class="section flow">
                    <h2>{config.name}</h2>
                    <p>{config.description}</p>
                    <p>
                        <a href={`/projects/${config.path}`}>
                            View all {config.name.toLowerCase()} projects
                        </a>
                        <GridProjects
                            collection={key}
                            limit={limit}
                            layout="stack"
                        />
                    </p>
                </section>
            );
        })
    }
</PageLayout>

<style>
    h2 {
        padding-block-start: var(--space-l);
    }
</style>
