---
import BaseLayout from "../layouts/BaseLayout.astro";

import {
    getCollection,
    type CollectionEntry,
    getEntry,
    render,
} from "astro:content";

const page = await getEntry("pages", "projects");

if (!page) {
    // Handle Error, for example:
    throw new Error("Could not find projects page");
}

const { Content } = await render(page);
const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<BaseLayout title={page.data.title} description={page.data.description}>
    <h1>{page.data.title}</h1>
    <p>{page.data.description}</p>
    <Content />
    <ul>
        {
            projects.map((project) => (
                <li>
                    <a href={`/projects/${project.id}`}>{project.data.title}</a>
                    <p>{project.data.description}</p>
                    <p>
                        posted{" "}
                        {project.data.pubDate.toLocaleDateString("en-gb", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })}
                    </p>
                </li>
            ))
        }
    </ul>
</BaseLayout>
