---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    title: string;
    description: string;
    href: string;
    image?: {
        src: string;
        alt: string;
    };
    pubDate?: Date;
    tags?: string[];
    featured?: boolean;
}

const {
    title,
    description,
    href,
    image,
    pubDate,
    tags,
    featured = false,
    class: className,
    ...attrs
} = Astro.props;
---

<article class={featured ? "featured" : ""}>
    <a href={href}>
        {image && <img src={image.src} alt={image.alt} />}
        <h2 class="title">{title}</h2>
        <p class="description">{description}</p>
        {
            pubDate && (
                <p class="date">
                    <em>
                        {pubDate.toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })}
                    </em>
                </p>
            )
        }
    </a>
</article>

<style>
    article {
        margin-block: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.75rem var(--color-dark);
        border: solid var(--color-dark);
    }

    a {
        text-decoration: none;
    }

    article:hover {
        box-shadow: 0.75rem 1rem var(--color-primary-shade);
        border: solid var(--color-dark);
    }

    .date {
        font-size: var(--font-s);
    }
</style>
