---
import site from "../data/site.json";
import "@phosphor-icons/web/regular";

const today = new Date();
---

<footer>
    <p>{site.author.name} &copy; {today.getFullYear()}</p>
    <ul class="social cluster">
        {
            site.author.social.map((social) => (
                <li>
                    <a
                        href={social.url}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class=`ph ph-${social.icon}`></i>
                        <span class="label">{social.name}</span>
                    </a>
                </li>
            ))
        }
    </ul>
    <p><em>stay curious</em></p>
</footer>

<style>
    footer {
        padding-block: 2rem;
        background: var(--color-primary-shade);
        color: var(--color-light);
        font-family: monospace;
        font-size: var(--step--1);
        box-shadow:
            0 -0.25rem var(--color-primary),
            0 -0.5rem var(--color-secondary),
            0 -0.75rem var(--color-tertiary);
        text-align: center;
        margin-block-start: 2rem;
    }

    p {
        margin-inline: auto;
    }

    .social {
        --cluster-horizontal-alignment: center;
        padding-inline: 0;
    }

    .social li {
        list-style: none;
    }

    .social a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }

    .social a:hover {
        .label {
            color: var(--color-tertiary);
            text-decoration: underline;
            text-decoration-color: var(--color-primary);
            text-decoration-thickness: 0.25rem;
            text-underline-offset: 0.25rem;
        }

        .ph {
            color: var(--color-secondary);
        }
    }
</style>
