---
import SkipLink from "./SkipLink.astro";
import site from "../data/site.json";
---

<header role="banner">
    <SkipLink />
    <div class="wrapper">
        <div class="site-head repel">
            <a
                href="/"
                aria-label=`${site.website.title} home`
                class="site-head__brand cluster"
            >
                <img
                    src="/crystal-circle-logo.svg"
                    alt=`${site.website.title} logo`
                />
                <p>{site.website.title}</p>
            </a>
            <nav aria-label="primary">
                <ul role="list" class="cluster">
                    {
                        site.website.navigation.map((item) => (
                            <li>
                                <a href={item.url}>{item.name}</a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    header {
        background: var(--color-primary-shade);
        color: var(--color-light);
        box-shadow:
            0 0.25rem var(--color-primary),
            0 0.5rem var(--color-secondary),
            0 0.75rem var(--color-tertiary);
        margin-block-end: 1.5rem;
    }

    .site-head :focus {
        outline-color: var(--color-light);
    }

    .site-head__brand {
        --gutter: 0.5rem;
        text-decoration: none;
    }

    .site-head__brand img {
        width: var(--font-xl);
    }

    .site-head__brand p {
        font-family: "Lazer84";
        text-shadow: 1px 1px 2px var(--color-dark);
    }

    nav ul {
        padding: 0;
    }

    nav a {
        font-variation-settings: "wght" 600;
        text-transform: uppercase;
        text-decoration: none;
        color: currentColor;
        text-shadow: 1px 1px 2px var(--color-dark);
    }

    .site-head__brand:hover p,
    nav a:hover {
        color: var(--color-tertiary);
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
        text-decoration-thickness: 0.25rem;
        text-underline-offset: 0.25rem;
    }

    @media (max-width: 550px) {
        .site-head {
            --gutter: 0 clamp(1rem, 1rem + 0.5dvw, 2rem);
            flex-direction: column;
            padding-block-start: 1rem;
        }
    }
</style>
