---
import "../styles/global.css";
import PrimaryHeader from "../components/PrimaryHeader.astro";
import Footer from "../components/Footer.astro";
import site from "../data/site.json";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <!-- CHARACTER SET & VIEWPORT -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- TITLE & DESCRIPTION -->
        <title>{title} | {site.website.title}</title>
        <meta
            name="description"
            content={description || site.website.description}
        />

        <!-- OPEN GRAPH / SOCIAL SHARING -->
        <meta
            property="og:title"
            content={`${title} | ${site.website.title}`}
        />
        <meta
            property="og:description"
            content={description || site.website.description}
        />
        <meta
            property="og:url"
            content={`${site.website.url}${Astro.url.pathname}`}
        />
        <meta property="og:type" content="website" />

        <!-- TWITTER CARD -->
        <meta name="twitter:card" content="summary" />
        <meta
            name="twitter:title"
            content={`${title} | ${site.website.title}`}
        />
        <meta
            name="twitter:description"
            content={description || site.website.description}
        />

        <!-- FAVICON -->
        <!-- https://favicon.io/favicon-converter/ -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <!-- PRELOAD FONTS -->
        <link
            rel="preload"
            href="/fonts/lazer84.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/LeagueSpartanVariable.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <!-- TECHNICAL META -->
        <link
            rel="canonical"
            href={`${site.website.url}${Astro.url.pathname}`}
        />
    </head>
    <body>
        <PrimaryHeader />
        <main id="main-content" tabindex="-1" class="wrapper flow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
